.cabecalho{
    background-color: rgba(255, 255, 0, 0.848);
    color: rgb(2, 2, 14);
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 24px 0;
    font-size: 28px ;
}

.escola-imagem{
    width: 25%;
}

.escola{
    display: flex;
    color:white;
}